<div align="center" class="logsign_cont">
    <div id="spacer">
    </div>
    <div id="logo_container">
        <img src="logo.png" id="logo"/>
    </div>
    <%= form_for(:session, url: login_path) do |f| %>
        <table id="login">
            <tr>
                <td>
                    No Account?
                </td>
                <td>
                    <%= link_to "Sign Up Here", signup_path %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= f.label :email %>
                </td>
                <td>
                    <%= f.email_field :email, :class => 'reg_field'  %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= f.label :password %>
                </td>
                <td>
                    <%= f.password_field :password, :class => 'reg_field'   %>
                </td>
            </tr>
            <tr>
                <td>
                    Remember Me
                </td>
                <td>
                    <%= f.label :remember_me do %>
                        <%= f.check_box :remember_me %>
                    <% end %>
                </td>
            </tr>
            <tr align="center" id="buttonbox">
                <td colspan="2">
                    <%= f.submit "Login", :class => 'reg_button'  %>
                </td>
            </tr>
        </table>
    <% end %>
</div>
<div class="right">
</div>
