<div class="logsign_cont">
    <div id="spacer">
    </div>
    <div id="logo_container">
        <img src="logo.png" id="logo"/>
    </div>
    <%= form_for(:session, url: login_path) do |f| %>
        <table id="login">
            <tr>
                <td>
                    No Account?
                </td>
                <td>
                    <%= link_to "Sign Up Here", signup_path %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= f.label :email %>
                </td>
                <td>
                    <%= f.email_field :email, :class => 'reg_field'  %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= f.label :password %>
                </td>
                <td>
                    <%= f.password_field :password, :class => 'reg_field'   %>
                </td>
            </tr>
            <tr>
                <td>
                    Remember Me
                </td>
                <td>
                    <%= f.label :remember_me do %>
                        <%= f.check_box :remember_me %>
                    <% end %>
                </td>
            </tr>
            <tr align="center" id="buttonbox">
                <td colspan="2">
                    <%= f.submit "Login", :class => 'reg_button'  %>
                </td>
            </tr>
        </table>
    <% end %>
</div>
<div class="right">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10428.092188647293!2d-122.86681195000001!3d49.200122349999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1466383588147" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>