<div class="content">
    <%= render 'layouts/nav' %>
    <div class="mid">
        <%= form_for(:session, url: login_path) do |f| %>
            <table id="login">
                <tr>
                    <td style="background-color:#A8000C;">
                        Admin Creds
                    </td>
                    <td style="background-color:#A8000C;">
                        admin@admin.com<br>
                        simplepass
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#A8000C;">
                        Standard User Creds
                    </td>
                    <td style="background-color:#A8000C;">
                        user@user.com<br>
                        simplepass
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= f.label :email %>
                    </td>
                    <td>
                        <%= f.email_field :email, :class => 'reg_field'  %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= f.label :password %>
                    </td>
                    <td>
                        <%= f.password_field :password, :class => 'reg_field'   %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Remember Me
                    </td>
                    <td>
                        <%= f.label :remember_me do %>
                            <%= f.check_box :remember_me %>
                        <% end %>
                    </td>
                </tr>
                <% flash.each do |key, value| %>
                    <tr class="alert <%= key %>" style="background-color: #A8000C;"><td colspan="2"><%= value %></td></tr>
                <% end %>
            </table>
            <%= f.submit "Login", :class => 'reg_button'  %>
        <% end %>
    </div>
</div>
