<div class="content">
	<div class="mid">
		<div class="logo_container">
			<%= image_tag("/logo.png", :alt => "tracklink logo", :id => "logo") %>
		</div>
		<div class="navigation_container">
			<%= link_to "Index", root_path, :class => "nav" %>
			<% if logged_in? %>
				<% if admin? %>
					<%= link_to "Users", users_path, :class => "nav" %>
				<% end %>
				<%= link_to "History", history_path, :class => "nav" %>
				<%= link_to "Settings", current_user, :class => "nav"  %>
				<%= link_to "Logout", logout_path, method: "delete", :class => "nav"%>
			<% else %>
				<%= link_to "Login", login_path, :class => "nav"  %>
				<%= link_to "Signup", signup_path, :class => "nav" %>
			<% end %>
		</div>
	</div>
    <div class="mid">
	    <% flash.each do |key, value| %>
	        <div class="alert <%= key %>"><%= value %></div>
	      <% end %>
		<%= form_for(@user) do |f| %>
		    
			<table id="login">
					<%= render 'shared/error_messages' %>
					<tr>
		                <td>
		                    Have an Account?
		                </td>
		                <td>
		                     <%= link_to "Login Here", login_path %>
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    <%= f.label :email %>
		                </td>
		                <td>
		                    <%= f.email_field :email, :class => 'reg_field'   %>
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    <%= f.label :password %>
		                </td>
		                <td>
		                    <%= f.password_field :password, :class => 'reg_field'   %>
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    <%= f.label :password_confirmation, "Confirm Password" %>
		                </td>
		                <td>
		                    <%= f.password_field :password_confirmation, :class => 'reg_field'   %>
		                </td>
		            </tr>
		            
		            <tr align="center">
		                <td colspan="2">
		                    <%= f.submit "Create My Account", :class => 'reg_button' %>
		                </td>
		            </tr>
		        </table>
		<% end %>
	</div>
</div>
