<div class="logsign_cont">
    <div id="spacer">
    </div>
    <div id="logo_container">
        <img src="logo.png" id="logo"/>
    </div>
	<%= form_for(@user) do |f| %>
	    <%= render 'shared/error_messages' %>
		<table id="login">
				<tr>
	                <td>
	                    Have an Account?
	                </td>
	                <td>
	                     <%= link_to "Login Here", login_path %>
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <%= f.label :email %>
	                </td>
	                <td>
	                    <%= f.email_field :email, :class => 'reg_field'   %>
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <%= f.label :password %>
	                </td>
	                <td>
	                    <%= f.password_field :password, :class => 'reg_field'   %>
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <%= f.label :password_confirmation, "Confirm Password" %>
	                </td>
	                <td>
	                    <%= f.password_field :password_confirmation, :class => 'reg_field'   %>
	                </td>
	            </tr>
	            <tr align="center">
	                <td colspan="2">
	                    <%= f.submit "Create My Account", :class => 'reg_button' %>
	                </td>
	            </tr>
	        </table>
	<% end %>
</div>
<div class="right">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10428.092188647293!2d-122.86681195000001!3d49.200122349999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1466383588147" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>