<div class="content">
	<%= render 'layouts/nav' %>
    <div class="mid">
	    <% flash.each do |key, value| %>
	        /*<div class="alert <%= key %>"><%= value %></div>*/
	      <% end %>
		<%= form_for(@user) do |f| %>
		    
			<table id="login">
					<%= render 'shared/error_messages' %>
					<tr>
		                <td>
		                    Have an Account?
		                </td>
		                <td>
		                     <%= link_to "Login Here", login_path %>
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    <%= f.label :email %>
		                </td>
		                <td>
		                    <%= f.email_field :email, :class => 'reg_field'   %>
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    <%= f.label :password %>
		                </td>
		                <td>
		                    <%= f.password_field :password, :class => 'reg_field'   %>
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    <%= f.label :password_confirmation, "Confirm Password" %>
		                </td>
		                <td>
		                    <%= f.password_field :password_confirmation, :class => 'reg_field'   %>
		                </td>
		            </tr>
		            
		            <tr align="center">
		                <td colspan="2">
		                    <%= f.submit "Create My Account", :class => 'reg_button' %>
		                </td>
		            </tr>
		        </table>
		<% end %>
	</div>
</div>
