                <div class="logsign_cont">
                    <div id="spacer">
                    </div>
                    <div id="logo_container">
                        <%= link_to image_tag("/logo.png", :alt => "tracklink logo", :id => "logo"), root_path %>
                    </div>
                    <div id="nav_cont">
	                    <% if logged_in? %>
	                    	<%#= link_to "Busses", '#', :class => "nav" %>
                            <% if admin? %>
                                <%= link_to "Users", 'users', :class => "nav" %>
                            <% end %>
			                <%= link_to "History", history_path, :class => "nav" %>
			                <%#= link_to "Profile", current_user, :class => "nav"  %>
			                <%#= link_to "Settings", '#', :class => "nav"  %>
			                <%= link_to "Logout", logout_path, method: "delete", :class => "nav"  %>
			            <% else %>
			                <%= link_to "Login", login_path, :class => "nav"  %>
			                <%= link_to "Signup", signup_path, :class => "nav" %>
			            <% end %>
			        </div>
                </div>
                <div class="right">
                    <table id="userscroll">
                            <tr>
                                <td><%= @user.email %></td>
                                <td><%= @user.admin? ? "Admin" : "Standard User" %></td>
                                <td><%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            </tr>
                    </table>
                </div>
