<div class="logsign_cont">
	<div id="spacer">
	</div>
	<div id="logo_container">
		<%= image_tag("/logo.png", :alt => "tracklink logo", :id => "logo") %>
	</div>
	<div id="nav_cont">
		<%= link_to "Index", root_path, :class => "nav" %>
		<% if logged_in? %>
			<%#= link_to "Busses", '#', :class => "nav" %>
			<% if admin? %>
				<%= link_to "Users", users_path, :class => "nav" %>
			<% end %>
			<%= link_to "History", history_path, :class => "nav" %>
			<%#= link_to "Profile", current_user, :class => "nav"  %>
			<%#= link_to "Settings", '#', :class => "nav"  %>
			<%= link_to "Logout", logout_path, method: "delete", :class => "nav"%>
		<% else %>
			<%= link_to "Login", login_path, :class => "nav"  %>
			<%= link_to "Signup", signup_path, :class => "nav" %>
		<% end %>
	</div>
</div>
<div class="right">
		<table id="bushist">			
			<tr>
				<td id="bushistnum">145
				</td>
				<td id="businfo">Somewhere to Somewhere Else
				</td>
				<td id="businfo">Hist Info Here
				</td>
			</tr>
			<tr>
				<% if logged_in? %>
					<td id="histbutton">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">Favorite
					</td>	                    	
				<% else %>
					<td id="histbutton" align="right">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">
					</td>
				<% end %>
			</tr>
		<table id="bushist">			
			<tr>
				<td id="bushistnum">145
				</td>
				<td id="businfo">Somewhere to Somewhere Else
				</td>
				<td id="businfo">Hist Info Here
				</td>
			</tr>
			<tr>
				<% if logged_in? %>
					<td id="histbutton">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">Favorite
					</td>	                    	
				<% else %>
					<td id="histbutton" align="right">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">
					</td>
				<% end %>
			</tr>
			<tr>
				<td id="bushistnum">145
				</td>
				<td id="businfo">Somewhere to Somewhere Else
				</td>
				<td id="businfo">Hist Info Here
				</td>
			</tr>
			<tr>
				<% if logged_in? %>
					<td id="histbutton">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">Favorite
					</td>	                    	
				<% else %>
					<td id="histbutton" align="right">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">
					</td>
				<% end %>
			</tr>
			<tr>
				<td id="bushistnum">145
				</td>
				<td id="businfo">Somewhere to Somewhere Else
				</td>
				<td id="businfo">Hist Info Here
				</td>
			</tr>
			<tr>
				<% if logged_in? %>
					<td id="histbutton">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">Favorite
					</td>	                    	
				<% else %>
					<td id="histbutton" align="right">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">
					</td>
				<% end %>
			</tr>
			<tr>
				<td id="bushistnum">145
				</td>
				<td id="businfo">Somewhere to Somewhere Else
				</td>
				<td id="businfo">Hist Info Here
				</td>
			</tr>
			<tr>
				<% if logged_in? %>
					<td id="histbutton">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">Favorite
					</td>	                    	
				<% else %>
					<td id="histbutton" align="right">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">
					</td>
				<% end %>
			</tr>
			<tr>
				<td id="bushistnum">145
				</td>
				<td id="businfo">Somewhere to Somewhere Else
				</td>
				<td id="businfo">Hist Info Here
				</td>
			</tr>
			<tr>
				<% if logged_in? %>
					<td id="histbutton">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">Favorite
					</td>	                    	
				<% else %>
					<td id="histbutton" align="right">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">
					</td>
				<% end %>
			</tr>
			<tr>
				<td id="bushistnum">145
				</td>
				<td id="businfo">Somewhere to Somewhere Else
				</td>
				<td id="businfo">Hist Info Here
				</td>
			</tr>
			<tr>
				<% if logged_in? %>
					<td id="histbutton">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">Favorite
					</td>	                    	
				<% else %>
					<td id="histbutton" align="right">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">
					</td>
				<% end %>
			</tr>
			<tr>
				<td id="bushistnum">145
				</td>
				<td id="businfo">Somewhere to Somewhere Else
				</td>
				<td id="businfo">Hist Info Here
				</td>
			</tr>
			<tr>
				<% if logged_in? %>
					<td id="histbutton">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">Favorite
					</td>	                    	
				<% else %>
					<td id="histbutton" align="right">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">
					</td>
				<% end %>
			</tr>
			<tr>
				<td id="bushistnum">145
				</td>
				<td id="businfo">Somewhere to Somewhere Else
				</td>
				<td id="businfo">Hist Info Here
				</td>
			</tr>
			<tr>
				<% if logged_in? %>
					<td id="histbutton">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">Favorite
					</td>	                    	
				<% else %>
					<td id="histbutton" align="right">Reverse
					</td>
					<td id="histbutton">Show
					</td>
					<td id="histbutton">
					</td>
				<% end %>
			</tr>
		</table>
</div>