<div class="logsign_cont">
	<div id="spacer">
	</div>
	<div id="logo_container">
		<%= image_tag("/logo.png", :alt => "tracklink logo", :id => "logo") %>
	</div>
	<div id="nav_cont">
		<%= link_to "Index", root_path, :class => "nav" %>
		<% if logged_in? %>
			<%#= link_to "Busses", '#', :class => "nav" %>
			<% if admin? %>
				<%= link_to "Users", users_path, :class => "nav" %>
			<% end %>
			<%= link_to "History", history_path, :class => "nav" %>
			<%#= link_to "Profile", current_user, :class => "nav"  %>
			<%#= link_to "Settings", '#', :class => "nav"  %>
			<%= link_to "Logout", logout_path, method: "delete", :class => "nav"%>
		<% else %>
			<%= link_to "Login", login_path, :class => "nav"  %>
			<%= link_to "Signup", signup_path, :class => "nav" %>
		<% end %>
	</div>
	<div id="searchbox">
		<table id="busses">
			<tr>
				<td id="search">
					Enter Route
				</td>
				<td id="searchbutton">
					Search
				</td>
			</tr>
		</table>
	</div>
	<div id="busscroll">
		<table id="busses">
							
			<tr>
				<td id="busnum">145
				</td>
				<td id="businfo" colspan="3"> SFU Bay 2
					<br>Production Way Station
				</td>
			</tr>
			<tr>
				<% if logged_in? %>
					<td id="reverse">Select
					</td>
					<td id="reverse">Reverse
					</td>
					<td id="reverse">Favorite
					</td>          
					<td id="reverse">
					</td>         	
				<% else %>
					<td id="reverse" align="right">Reverse
					</td>
					<td id="reverse">Show
					</td>
					<td id="reverse">
					</td>
					<td id="reverse">
					</td>	
				<% end %>
			</tr>
		</table>
	</div>
</div>
<div class="right">
	<div id="map"></div>
	<script>
		var map;
	    function initMap() {
		    map = new google.maps.Map(document.getElementById('map'), {
		        center: {lat: -34.397, lng: 150.644},
		        zoom: 8
		    });
	    }
	</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_5saOsQDUS9U1RJJUsYI3qsZB8aCxGZc&callback=initMap"
    async defer>
</script>
	<div id="disclaimer">
		Some of the data used in this product or service is provided by permission of TransLink. TransLink assumes no responsibility for the accuracy or currency of the Data used in this product or service.
	</div>
</div>

